@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer;
  }

  .span {
    @apply relative before:bg-[#000000] 
    before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute
    before:transform before:origin-left before:scale-x-0 before:transition-all 
    before:duration-200 group-hover:before:scale-x-100;
  }
}
@layer utilities {
  .grid-custom-3 {
    grid-template-columns: repeat(3, minmax(0, max-content));
  }
}
@layer utilities {
  .grid-custom-2 {
    grid-template-columns: repeat(2, minmax(0, max-content));
  }

  @layer utilities {
    .grid-custom-1 {
      grid-template-columns: repeat(1, minmax(0, max-content));
    }
  }
}
